footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    margin-top: 80px;
    font-size: 16px;
    text-align: left;
  }

  @media (max-width: 400px) {
    footer main .trends a img {
      width: 40%;
      height: auto;
      flex-direction: column;
    }
  }

  